body { 
    padding-top: 60px; 
    overflow-x: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 979px) {
    body { padding-top: 0px; }
}

ul.dropdown-menu li.active a {
    background: #f0f0f0;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    margin: .2em 0;
}

div.pagination {
    margin: 0;
}

footer.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
footer.footer p {
  margin-bottom: 0;
  color: #777;
}
ul.footer-links {
  margin: 10px 0;
}
ul.footer-links li {
  display: inline;
  padding: 0 2px;
}
ul.footer-links li:first-child {
  padding-left: 0;
}
